<h1>Add a Video</h1>


<form>
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" ng-model="video.title"></input>
    </div>
    <div class="form-group">
        <label>Genre</label>
        <textarea class="form-control" ng-model="video.genre"></textarea>
    </div>

  

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="video.description"></textarea>
    </div>



    <div class="form-group" ng-controller="ColorCtrl">
        <p>selected item is : {{genreSelect}}</p>
        <p> name of selected item is : {{genreSelect.genre_id}}. {{genreSelect.name}} </p>
        <label>
            Genre:
            <select class="form-control" ng-init="genreSelect.genre_id[1]"  ng-model="genreSelect" ng-options="genre.name for genre in genres track by genre.genre_id"></select>
        </label>
    </div>


    


    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    <a class="btn btn-default" href="/#/">Home</a>
</form>